<!-- Google Analytics -->
<script src='http://www.google-analytics.com/urchin.js' type='text/javascript'></script>
<script type='text/javascript'>
  _uacct = 'UA-317324-1';
  urchinTracker();
</script>
<!-- Start of StatCounter Code -->
<script type="text/javascript">
  var sc_project=6453565; 
  var sc_invisible=1;
  var sc_security="285089de";
</script>
<script type="text/javascript" src="http://www.statcounter.com/counter/counter_xhtml.js"></script><noscript><div class="statcounter"><a class="statcounter" href="http://www.statcounter.com/"><img class="statcounter" src="http://c36.statcounter.com/3249429/0/8b3a3ada/0/" alt="website statistics" /></a></div></noscript>
