<div id="hd" class="span-24">
  <div class="span-16">
    <div style="float:right;">
      by <a href="http://ianli.com">Ian Li</a>
    </div>
    <h1>Raphael SketchPad</h1>
  </div>

  <div class="clear span-16">
    <p>
      Raphael Sketchpad is a simple drawing editor that you can easily include with your forms.<br/>
      It is similar to <a href="http://www.mainada.net/inputdraw">Mai'Nada.net's InputDraw</a>,
      but does not require Flash.<br/>
      It is built on top of the <a href="http://raphaeljs.com">Raphael</a>
      Javascript vector graphics library.
    </p>
    <p>
      Raphael Sketchpad requires these Javascript libraries:
      <a href="http://raphaeljs.com/">Raphael 2.0.1</a>,
      <a href="http://jquery.com/">jQuery</a>, and
      <a href="http://www.json.org/js.html">JSON.stringify</a>.
    </p>
  </div>
  <div class="span-8 last" style="text-align:center;">
    <div style="margin-bottom:5px;border:2px solid #e3e3e3;border-width:0 2px 3px 0;">
      <a id="download" href="javascripts/raphael.sketchpad.js">Download 0.5.1</a>
    </div>
    or visit the
    <a href="http://github.com/ianli/raphael-sketchpad">GitHub project page</a>.
  </div>
</div>
